#pagina {
    background-color: rgb(8, 8, 8);
}


.noticia-1 {
    color: gold;
}


#batman-moto img{
    margin: 20px;
    border-radius: 100%;
    border: 3px solid rgb(255, 72, 0);
    padding: 1px;
    width: 100px;
}


#navbar {
    color: gold;
}


#rodape {
    color: gold;
}
.noticia-2 {
    color: gold;
}
#batman-favela img{
    margin: 20px;
    border-radius: 100%;
    border: 3px solid rgb(233, 233, 222);
    padding: 1px;
}
.noticia-3{
color:gold
}
#batman- img{
    margin: 20px;
    border-radius: 100%;
    border: 3px solid yellow;
    padding: 1px


}
   
